.card {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  background-color: #181d3b;
  height: 100%;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 12px;
  width: 100%;
  height: 122px;
  background-color: #4d12bf;
}

.iconWrapper svg {
  color: white;
}

.cardTitle {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.cardInfo {
  display: none;
  background-color: #181d3b;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px;
  color: white;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
}

.showInfo {
  border-radius: 12px 12px 0 0;
}

.card.showInfo .cardInfo {
  display: block;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 16px;
  padding-top: 8px;
  border-bottom: 1px solid #ffffff1a;
}

.idValue {
  word-break: break-all;
  overflow-wrap: break-word;
}

.label {
  line-height: 20px;
  color: #ffffff80;
}

.value {
  line-height: 20px;
  color: #ffffff;
}

.openBtn {
  width: 100%;
  background-color: #ff8c8c;
  border: 2px solid #ff8c8c;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
  transition: background-color 0.3s ease;
}

.openBtn:hover {
  background-color: linear-gradient(0deg, #ff8c8c, #ff8c8c),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.openBtn:active {
  background-color: linear-gradient(0deg, #ff8c8c, #ff8c8c),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
