.card {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  background-color: #181d3b;
  height: 100%;
  flex-grow: 1;
}

.iconWrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 12px;
  border-radius: 12px;
  width: 100%;
  height: 122px;
  background-color: #4d12bf;
}

.iconWrapper svg {
  color: white; 
}

.cardTitle {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.textarea {
}

.buttonWrapper {
}

.btn {
}

.btn:hover {
}

.btn:active {
}

.card:hover,
.card:active {
}
