.formWrapper {
  margin-bottom: 60px;
}

.fileForm {
  //background-color: #1b2041;
  border-radius: 12px;
  padding: 24px;
}

.fileFieldWrapper {
  margin-bottom: 40px;
}


.field {
   background-color: #1b2041;
}

.field:focus {
  outline-color: #1976d2;
}

.error {
  color: red;
}

.error_field {
  border: 1px solid red;
}
