.listContainer {
  width: 1248px;
  margin-right: auto;
  background-color: #1b2041;
  border-radius: 32px;
  padding: 24px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.cardItem {
  width: calc((100% - 36px) / 4);
}

.dateHeader {
  font-size: 18px;
  line-height: 30px;
  color: #ffffffb2;
  margin-bottom: 26px;
  margin-top: 26px;
}
