.cardList {
  background-color: #1b2041;
  border-radius: 32px;
  margin: 0;
  padding: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.cardItem {
  width: calc((100% - 36px) / 4);
}
